# DB (배포 전용)
DB_URL=
DB_USER=
DB_PASSWORD=

# JWT — HS256.
JWT_SECRET=

# CORS 허용 오리진.
ALLOWED_ORIGIN=https://daullim.vercel.app

# OpenAPI 건축HUB_건축물대장 일반 인증키
END_POINT=https://apis.data.go.kr/1613000/BldRgstHubService/getBrTitleInfo
SERVICE_KEY=

# VWorld API Key (개발키 / 만료일: 2027-02-04)
VWORLD_KEY=